alias terminator="terminator -l ntree && exit"
alias dcs="docker-compose"
alias dils="docker image ls"
alias dirm="docker image rm"
alias dcls="docker container ls"
alias dcrm="docker container rm"
alias dcstop="docker container stop"
alias dcrmall="docker container rm $(docker container ps -a -q)"
alias dcstopall="docker container stop $(docker container ps -a -q)"
